.type__item {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem ;
    border: 1px solid #CFCFCF;
    padding: 2rem 1.5rem;
    border-radius: 2px;
    box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
}
.type__item:hover {
    /* transform: scale(1.01); */
    box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.25);
}
.type__item:hover .type__img {
    overflow: hidden;
}
.type__item:hover .type__img img {
    transition: all 0.3s;
}
.type__item:hover .type__img img{
    transform: scale(1.03);
}
.type__block {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}
.type__desc {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.type__title {
    font-size: 1.2rem;
    color: var(--color-title);
    font-weight: 600;
}
.type__text {
    font-size: 0.9rem;
    }
.type__info {
    font-size: 0.9rem;
    margin-bottom: 2rem;
}
.type__info-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 0.2rem;}
.type__info-label {
    font-weight: 600;
    margin-right: 1rem;
}

.type__info-value {
    text-align: right;
}
.type__btn {
    justify-content: end;
    font-size: 1rem;
    margin-top: auto;
}
@media screen and (min-width: 580px) {
.type__item {
        min-height: 350px;
        grid-template-columns: minmax(140px, 50%) 50%;
}
}
@media screen and (min-width: 768px) {
    .type__block {
            grid-template-columns: 1fr 1fr;
        }
    .type__item {
        min-height: auto;
            padding: 2rem;
            grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 1024px) {
.type__item {
        min-height: 350px;
        grid-template-columns: minmax(140px, 50%) 50%;
    }
}
@media screen and (min-width: 1440px) {
    .type__item {
        min-height: 350px;
        grid-template-columns: minmax(160px, 45%) 55%;
    }
}