.info {
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    height: 100%;
    min-height: 300px;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.info__bg {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    will-change: transform;
    z-index: 0;
}
.info__bg::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(21, 21, 21, 0.6);
    z-index: -2;
}
.info__content {
    padding: 10rem 0;
    max-width: 1000px; 
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
         
}
.info__container * {
    color: #fff;
}
/* 
@media screen and (min-width: 1024px) {
    .info {
        height: 500px;
    }
}
@media screen and (min-width: 1440px) {
.info {
        height: 600px;
}
} */
 .steps__desc-sticky {
    position: sticky;
    top: 100px;
    position: -webkit-sticky;
 }
/* @media (prefers-reduced-motion: no-preference) {
    .info__bg {
        animation: parallax linear;
        animation-timeline: scroll();
    }
}

@keyframes parallax {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        transform: translate3d(0, 50px, 0);
    }

} */
