.main__wrapper {
    padding-top: var(--section-bottom-space);
    background: url(../assets/bg.png) no-repeat;
    background-size: 64% auto;
}
.about__container {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
.about__images {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    order: 2;
    width: 100%;
    max-height: 600px;
}
.about__img {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 68%;
    box-shadow: 4px 6px 10px 0px rgba(0, 0, 0, 0.2);
}
.about__img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.about__img:first-child {
    margin-bottom: 3rem;
}
.about__img:last-child {
margin-top: 3rem;
}
.about__line {
    display: none;
}
.about__text {
    margin-bottom: 3rem;
}
.section__btn {
    margin: 0 auto;
}
.amounts__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 16px;
}
.amount {
    padding: 1rem 2rem;
    border-left: 1px solid rgba(74, 74, 74, 0.3);
    flex: 0 1 calc(50% - 8px); 
}
.amount__numb {
    font-family: 'Bruno Ace SC', sans-serif;
    font-size: 2.5rem;
    color: var(--color-primary);
}
.services__block {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
    padding: 0 var(--container-space);
}
.service {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 56%;
    cursor: pointer;
    box-shadow: 4px 6px 10px 0 rgba(0, 0, 0, 0.2);
}

.service__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.service__bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.8rem;
    padding: 0 2rem;
    width: 100%;
    transition: all 0.6s;
}

.service__info {
    position: relative;
    left: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.service__title {
    font-family: 'Bruno Ace', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000;
}

.service__text {
    display: none;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}
.service__btn {
    margin: unset;
}
.service:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(1px);
    z-index: 1; 
}
.manufacturers__slider {
    padding-bottom: 20px;
}
.manufacturer {
    height: unset;
    box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.15);
    background: url(../assets/manufacturers/bg.png) no-repeat,#fff;
    border: 1px solid #dad8d8;
    padding: 6rem 2rem 6rem 2rem;
    display: flex;
    gap: 2rem;
    user-select: none;
}
.manufacturer::before {
    content: '';
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    height: calc(100% + 8rem);
    background: #B5B5B5;
}
.manufacturer__block {
    /* display: flex;
    flex-direction: column; */
    gap: 2rem;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr auto auto auto;
}
.manufacturer__logo img{
    max-width: 170px;
    max-height: 58px;
}

.manufacturer h4{
    font-weight: 600;
    color: var(--color-title);
    font-size: 1.2rem;
}
.manufacturer__btn {
    margin: auto 0 0 0 !important;
}
.manufacturers__slider {
    padding-bottom: 42px;
}
.manufacturers__slider .swiper-button {
   display: none;
   
}
.manufacturers__slider .swiper-button img{
    width: 56px;
}
.projects__title {
    user-select: none;
}
.projects__slider .swiper-wrapper {
    padding-bottom: 42px;
}
.project {
    position: relative;
    box-shadow: 4px 4px 15px 0 rgba(0, 0, 0, 0.2);
    height: 0;
    padding-top: 450px;
    user-select: none;
    cursor: pointer;
}
.project:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.25);
    z-index: 2;
}
.project__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.project__label {
    display: block;
    width: 100%;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY( -50%);
    z-index: 3;

}
.project__label h3{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-title);
    font-family: 'Roboto',
            sans-serif;
    font-size: 1.5rem;
    letter-spacing: 0.02em;
    text-align: center;
    z-index: 4;
}

.project__desc,
.projects__slider .swiper-button {
    display: none;
}
.cta__info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 32px;
}
.cta__title {
    margin-bottom: 0;
}
.cta__block {
    padding: 4rem 1.2rem;
    box-shadow: 2px 4px 15px 0 rgba(0, 0, 0, 0.15);
    background: linear-gradient(162deg, #f8efe5 7.05%, #f5f5f5 61.64%, #ddd 98.9%);
}
.cta__socials {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-bottom: 32px;
}
.cta__social:hover svg path {
    transition: all 0.3s;
}
.cta__social:hover svg path {
    fill-opacity: 0.6;
}
.cta__social svg{
    height: 100% !important;
}

@media screen and (min-width: 560px) {
.about__images {
    gap: 2rem;
    padding: 0 2rem;
}

}
@media screen and (min-width: 620px) {
    .amount {
        flex: 0 1 calc(100% / 3);
    }
    .services__block {
    grid-template-columns: repeat(2, 1fr);
    }
    .service {
        padding-top: 60%;
    }
    .service__bg {
        justify-content: start;
    }
    .service .service__info {
        top: 18%;
    }
    .cta__block {
        padding: 4rem 2rem;
    }
}
@media screen and (min-width: 700px) {
    .manufacturer {
        padding: 4rem 2rem 4rem 2rem;
    }
}
@media screen and (min-width: 768px) {
    .about__images {
        gap: 3rem;
    }
    .service__btn {
        font-size: 0.8rem;
        padding: 0.5rem calc(1rem + 10px) 0.5rem 1rem;
    }
    .service__btn:after {
        width: 30px;
        height: 8px;
    }
    .cta__block {
        display: flex;
        gap: 2rem;
        align-items: start;
    }

    .cta__socials {
        flex-direction: column;
        margin-top: 8px;
    }

}
@media screen and (min-width: 880px) {
    .about__container {
        flex-direction: row;
        gap: 0;
    }
    .amounts__container {
        width: 80%;
        margin: 0 auto;
    }
    .about__images {
        gap: 24px;
        padding: 0 0 0 2rem;
        order: 1;
    }
    .about__img {
        padding-top: 78%;
    }
    .about__line {
        display: block;
        width: 3px;
        background: var(--color-primary);
        margin: 0 4rem 0 4rem;
        order: 2;
    }
    .about__desc {
        flex: 0 0 40%;
        order: 3;
        padding-top: 2rem;
    }
    .section__btn {
        margin: 0;
    }
    .about__images {
        max-height: unset;
        padding: 0;
    }
    .service:after {
        background: rgba(255, 255, 255, 0.5);
    }
    .service__text {
        display: block;
    }
}
@media screen and (min-width: 1024px) {
    .services__block {
        grid-template-columns: repeat(4, 1fr);
        padding: 0;
    }
    .service {
        padding-top: 130%;
    }
    .service__bg {
        justify-content: start;
    }
    .service__arrow-top,
    .service__arrow-bottom {
        height: 100%;
    }
    .service__arrow-top::after,
    .service__arrow-bottom::after {
        content: '';
        position: relative;
        left: 0;
        display: block;
        width: 20px;
        height: 100%;
        border-left: 3px solid #434242;
        border-right: 2px solid #434242;
        z-index: 2;
        transition: all 0.6s;
    }

    .service__arrow-top {
        flex-basis: 20%;
        flex-shrink: 0;
        flex-grow: 0;
    }

    .service:after {
        width: 0;
        opacity: 0;
        background: unset;
        transition: all 0.6s;
    }

    .service:hover:after {
        opacity: 1;
        width: 100%;
        background: rgba(255, 255, 255, 0.7);
    }

    .service:hover .service__arrow-top::after,
    .service:hover .service__arrow-bottom::after{
        position: absolute;
        top: 0;
        left: calc(100% - 2rem - 20px);
    }
    .service .service__info {
        position: relative;
        top: 0;
        width: calc(100% - 30px);
    }
    .service__text,
   .service__btn {
       display: none;
   }

    .service:hover .service__text,
    .service:hover .service__btn {
        display: block;
        opacity: 1;
    }
    .manufacturers__slider {
        padding-bottom: 20px;
        padding-top: calc(2rem + 39px);
        margin-top: calc(-2rem - 39px);;
    }
    .manufacturers__slider .swiper-button::after {
        display: none;
    }
    .manufacturers__slider .swiper-button {
        display: block;
        bottom: unset;
        top: 0;
        right: 0;
        left: unset;
        margin-top: 0;
        width: fit-content;
        height: fit-content;
    }
    .manufacturers__slider .swiper-button-next {
        transform: translate(0, 0) ;
    }
    .manufacturers__slider .swiper-button-prev {
        right: calc(56px + 14px);
        transform: translate(0,0) rotate(180deg);
    }
    .projects__slider {
        position: relative;
        width: calc(100% + 80px);
        top: 0;
        left: -40px;
    }
    .projects__slider .swiper-wrapper{
        position: relative;
        top: 0;
        left: 40px;
        padding-bottom:  20px;
    }

    .project {
        width: 21vw !important;
        padding-top: 33%;
        margin: auto 0;
        visibility: visible;
        transition: all 0.3s, ;
    }
    .projects__slider .project__active {
        width: 40vw !important;
        padding-top: 36%;
    }
 
    .projects__slider .project__active .project__label {
        display: none;
    }
 
    .projects__slider .project__active .project__desc {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 3;
        min-width: calc(20vw - 2rem);
        height: calc(100% - 6rem);
        background: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(1px);
        margin: 3rem 2rem 3rem 0;
        padding: 2rem 2rem;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .project__label h3 {
        font-size: 1.3rem;
    }
    .project__desc h4 {
        font-size: 1.2rem;
        color: var(--color-title);
    }
    .project__location,
    .project__elevator {
        display: flex;
        gap: 16px;
        align-items: center;
    }
    .project__elevator p {
        white-space: nowrap;
    }
    .project__equipment {
        width: 100%;
        display: flex;
        gap: 24px;
        padding: 1rem 0;
        justify-content: center;
        border-top: 1px solid #CBDAE3;
        border-bottom: 1px solid #CBDAE3;
    }
    .project__elevator {
        font-size: 0.8rem;
        font-weight: 600;
    }
    .project__location p {
        font-size: 0.8rem;
        color: #929A9F;
    }
    .project__btn {
        font-size: 0.8rem;
        font-weight: 600;
        margin-top: auto;
        line-height: 1;
        margin-left: auto;
        display: flex;
        gap: 10px;
        align-items: center;
        transition: all 0.3s;
    }
    .project__btn:after {
        content: url(../assets/icons/project-arrow.svg);
        display: block;
        height: fit-content;
        position: relative;
        left: 0;
        top: 1px;
        transition: all 0.3s;
    }

    .projects__slider .swiper-slide-active .project__desc:hover .project__btn:after {
       left: 2px;
    }
    .projects__slider .swiper-button {
        display: block;
        color: #929A9F !important;
    }
    .projects__slider .swiper-button-next:after,
    .projects__slider .swiper-button-prev:after {
        content: unset;
    }
    .projects__slider .project.custom-animate-next {
    animation: changeSlideNext 0.3s ease-out;
    }
    .projects__slider  .project.custom-animate-prev {
    animation: changeSlidePrev 0.3s ease-out;
    }
    .projects__slider .swiper-slide-prev,
    .projects__slider .swiper-slide-next + .swiper-slide + .swiper-slide {
        visibility: hidden;
    }

}

@media screen and (min-width: 1200px) {
    .service__text,
    .service__btn {
        display: none;
        opacity: 0;
        transition: all 0.6s;
    }
  
    .service__text {
        margin-bottom: 2rem;
    }
    .service__title {
        font-size: 1.2rem;
    }
    .service__btn {
        font-size: 1rem;
        padding: 1rem calc(2rem + 10px) 1rem 2rem;
    }
    .service__btn:after {
       width: 44px;
       height: 12px;
   }
   .project__label h3 {
    font-size: 1.5rem;
   }
    .manufacturer {
      padding: 6rem 2rem 6rem 2rem;
    }
}
@media screen and (min-width: 1440px) {
    .about__images {
        gap: 32px;
    }
        .service__title {
            font-size: 1.333rem;
        }
    .about__img:first-child {
        margin-bottom: 5rem;
    }
    .about__img:last-child {
    margin-top: 5rem;
    }
    .about__line {
        margin: 0 6rem 3rem 6rem;
    }
    .services__block {
       gap: 12px;
    }
    .manufacturer {
        padding: 8rem 4rem 8rem 2rem;
        gap: 3rem;
    }
    .manufacturers__slider .swiper-button img {
        width: 68px;
    }
    .manufacturers__slider .swiper-button-prev {
        right: calc(68px + 16px);
    }
     .projects__slider {
        width: calc(100% + 120px);
        left: -60px;
    }
    .projects__slider .swiper-wrapper{
        left: 60px;
    }
}

 @keyframes changeSlideNext {
     0% {
         transform: translateX(30%);
         opacity: .7;
     }

     100% {
         transform: translateX(0%);
         opacity: 1;
     }
 }

 @keyframes changeSlidePrev {
     0% {
         transform: translateX(-30%);
         opacity: .7;
     }

     100% {
         transform: translateX(0%);
         opacity: 1;
     }
 }
