.service-page .main-banner {
    position: relative;
    padding: 30px 0;
    height: 75vh;
    max-height: 730px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: var(--section-bottom-space);
}
.service-page .main__btn-page {
    width: fit-content;
}

.service-page .main-banner__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    object-fit: cover;
    object-position: 30%;
    z-index: 1;
}
.escalator-page .main-banner__video {
    object-position: 50%;
}
.add-works-page .main-banner__video {
    object-position: bottom 30%;
    top: unset;
    bottom: 0;
}
.equipment-page .main-banner__video {
    object-position: center;
}
.service-page .main-banner.dark-layer::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.5) 100%);
}
/* .elevator-page .main-banner.dark-layer::after {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.5) 100%);
}
.escalator-page .main-banner.dark-layer::after {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.4) 80%);
}
.equipment-page .main-banner.dark-layer::after{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%);
} */
.service-page .main-banner__desc {
    width: 100%;
}
.elevator-page .main-banner__content {
    width: 78%;
}
.service-page .main-banner__content > * {
    z-index: 3;
}
.service-page .main-banner__content h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.2;
    letter-spacing: 0.02rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.service-page .main-banner__content h2 {
    margin-bottom: 1.5rem;
}
@media screen and (min-width: 1024px) {
    .service-page .main-banner__content {
            padding: 0;
            margin-left: 0;
         }
}
@media screen and (min-width: 1280px) {
    .service-page .main-banner__video {
            object-position: center;
        }
    .add-works-page .main-banner__video {
        object-position: bottom;
    }
    /* .escalator-page .main-banner.dark-layer::after {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.2) 100%);
    } */
}

