.header {
    position: fixed;
    height: var(--header-height);
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 12px 0;
    z-index: 9999;
}

.main-banner__slide {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.header__btn {
    display: none;
}
.header__menu {
    order: 3;
}

.header__scroll {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
}
.header__logo {
    max-width: 90px;
    order: 1;
}

.menu__icon {
    width: 24px;
    height: 14px;
    cursor: pointer;
    position: relative;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.menu__icon span,
.menu__icon::after,
.menu__icon::before {
    background-color: var(--color-white);
    position: absolute;
    left: 0;
    height: 2px;
    width: 24px;
    border-radius: 1px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.menu__icon::after,
.menu__icon::before {
    content: "";
}

.menu__icon::before {
    top: 0;
}

.menu__icon::after {
    bottom: 0;
}

.menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0, -50%);
    -ms-transform: scale(1) translate(0, -50%);
    transform: scale(1) translate(0, -50%);
}

.menu__icon.active span {
    -webkit-transform: scale(0) translate(0, -50%);
    -ms-transform: scale(0) translate(0, -50%);
    transform: scale(0) translate(0, -50%);
}

.menu__icon.active::before {
    top: 50%;
    left: 12px;
    width: 19px;
    -webkit-transform: rotate(-45deg) translate(0, -76%);
    -ms-transform: rotate(-45deg) translate(0, -76%);
    transform: rotate(-45deg) translate(0, -76%);
}

.menu__icon.active::after {
    bottom: 50%;
    left: 12px;
    width: 19px;
    -webkit-transform: rotate(45deg) translate(0, 50%);
    -ms-transform: rotate(45deg) translate(0, 50%);
    transform: rotate(45deg) translate(0, 50%);
}

.menu__wrapper {
    display: none;
    position: fixed;
    top: var(--header-height);
    right: 0;
    background: rgba(255, 255, 255, 0.88);
    backdrop-filter: blur(2px);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
    z-index: 99999;
    overflow: auto;
}

.menu__wrapper.active {
    display: block;
    width: 100%;
    height: calc(100% - var(--header-height));
    padding: 24px var(--container-space);
    display: flex;
    flex-direction: column;
    animation: menuFadeInMob 0.4s ease-in-out;
}

.menu__summary {
    font-size: 12px;
    color: var(--color-second-text) !important;
    font-weight: 600;
    display: flex;
    padding: 12px 17px 12px 12px;
    cursor: pointer;
    transition: all 0.3s;
}
.menu__item {
    font-family: 'Roboto', sans-serif;
    color: var(--color-title);
    font-size: 1.1rem;
    padding: 24px 0;
    letter-spacing: 3.2px;
    text-transform: uppercase;
}
.menu__item:not(:last-child) { 
    border-bottom: 1px solid #b9aaaa;
}
.dropdown__block {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 998;
}

.dropdown__block.active {
    display: block;
    opacity: 1;
    width: 100%;
    height: calc(100vh - 60px);
    background: #fff;
}

.dropdown__summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 
.dropdown__summary:after {
    content: url(../assets/icons/menu-mob-arrow.svg);
    margin-top: 1px;
}
.main-banner__desc {
    width: 100%;
    height: 100%;
   display: flex;
   align-items: center;

}
.main-banner__desc img {
    position: relative;
    display: block;
}
.main-banner__desc img::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 614px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.21) 0%, rgba(0, 0, 0, 0.00) 100%);
    background-color: black;
    backdrop-filter: blur(1px);
}
.header__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
}
.main-banner__socials {
    width: fit-content;
    display: flex;
    flex-direction: column;
  align-items: center;
    gap: 16px;
}
.main-banner__social {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    cursor: pointer;
    height: 30px;
    transition: 0.3s;
}
.main-banner__social:hover svg path{
fill-opacity: 1;
}
.main-banner__social svg{
    width: 70%;
}
.dropdown__summary a,
.dropdown__block a {
    font-family: 'Roboto', sans-serif;
    color: var(--color-white);
    font-size: 1rem;
}
.main-banner__line {
    width: 1px;
    height: 10vh;
    margin: 6vh auto;
    background: var(--color-white);
    opacity: 0.8;
}
.main-banner__left {
    display: none;
    }
.main-banner__bottom {
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}
.main-banner__bottom-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}
.main-banner__bottom p{
    font-family: 'Roboto', sans-serif;
    color: var(--color-white);
    font-size: 0.714rem;
    font-weight: 500;
    letter-spacing: 0.129rem;
    text-transform: uppercase;
}
.main-banner__icon {
    display: flex;
    justify-content: center;
    animation: arrowDown 3s infinite;
}
@media screen and (min-width: 768px) {
    .header {
        height: 90px;
    }
    .header__logo {
        max-width: 120px;
    }
    .menu__item {
    font-size: 1.4rem;
    padding: 24px 0 30px 0;
}

}
@media screen and (min-width: 1024px) {
    .header {
        position: fixed;
        padding: 16px 0;
    }
    .header__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header__btn {
        display: flex;
        align-items: center;
        gap: 10px;
        order: 3;
    }
    .menu__icon {
        display: none;
    }
    .menu__wrapper {
        display: block;
        width: auto;
        height: auto;
        position: static;
        background: none;
        padding: 0;
        overflow: unset;
    }
    .menu__list {
        display: flex;
        width: auto;
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }
    .menu__item {
        color: var(--color-white);
        font-size: 0.889rem;
        letter-spacing: 3.2px;
        border-bottom: unset !important;
        padding: 0;
    }
        .menu__item a:after {
        content: "";
        -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
        transform: scaleX(0);
        display: block;
        background-color: var(--color-primary);
        width: 100%;
        height: 1px;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
    }

    .menu__item a:hover:after {
        -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
        transform: scaleX(1);
    }
        .main-banner__left {
        display: block;
    }
    .main-banner__left-container {
        position: absolute;
        bottom: 24px;
        left: var(--container-space);
        height: calc(100% - var(--header-height));
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 24px;
    }
    .main-banner__slogan {
        width: fit-content;
        font-family: 'Roboto', sans-serif;
        writing-mode: vertical-lr;
        transform: rotate(-180deg);
        color: var(--color-white);
        font-size: 9px;
        font-weight: 500;
        letter-spacing: 6px;
        text-transform: uppercase;
        margin:  0 auto;
        flex: 0 0 fit-content;
    }
    .header__menu {
        order: 2;
    }
    .main-banner__desc {
        width: 70%;
    }
}
@media screen and (min-width: 1280px) {
    .menu__list {
        gap: 30px;
    }


}
@media screen and (min-width: 1440px) {
    .header__logo {
        max-width: 123px;
    }
    .header__icon {
        width: 19px;
    }
    .main-banner__social svg {
        width: 100%;
    }
    .main-banner__slogan {
        font-size: 10px;
        /* letter-spacing: 8.34px; */
    }
}

@keyframes arrowDown {
    0% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(10px);
    }
    70% {
        transform: translateY(0);
    }
}