.main__wrapper {
    padding-top: var(--section-bottom-space);
    background: url(../assets/bg.png) top left/64% no-repeat, url(../assets/bg-bottom.png) bottom var(--last-section-margin) right/30% no-repeat;
    position: relative;
    z-index: 1;
}
.main__bg {
    background-color: #fff;
}
.type-title .letter{
    display: inline-block;
    opacity: 0;
    z-index: 2;
    position: relative;
}
.text-yellow {
    color: var(--color-primary);
}
.header {
    position: fixed;
    height: var(--header-height);
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 12px 0;
    z-index: 9999;
}
.main-banner {
    height: 100vh;
    position: relative;
}
.main-banner__slider {
    height: 100%;
}
.main-banner__slide {
    width: 100%;
    height: 100%;
    position: relative;
}
.main-banner__slide-bg{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.header__btn {
    display: none;
}
.header__menu {
    order: 3;
}

    .header__scroll {
        background: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(7px);
        box-shadow: 4px 6px 10px 0 rgba(0, 0, 0, 0.04);
    }
     .header__scroll .menu__item {
        color: var(--color-title);
    }
    .header__scroll .header__phone a {
        color: var(--color-title);
    }
    .header__scroll .header__icon svg path {
        fill: var(--color-text);
        opacity: 0.8;
    }
   .header__scroll  .header__logo svg path:first-child {
        fill: var(--color-text);
    }
    .header__scroll .dropdown__summary svg path {
        stroke: var(--color-title);
    }
    .header__scroll  .menu__icon span,
    .header__scroll .menu__icon::after,
    .header__scroll  .menu__icon::before {
        background: var(--color-text);
     }

.header__logo {
    max-width: 90px;
    order: 1;
}

.menu__icon {
    width: 32px;
    height: 20px;
    cursor: pointer;
    position: relative;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.menu__icon span,
.menu__icon::after,
.menu__icon::before {
    background-color: var(--color-white);
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    border-radius: 1px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.menu__icon::after,
.menu__icon::before {
    content: "";
}

.menu__icon::before {
    top: 0;
}

.menu__icon::after {
    bottom: 0;
}

.menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0, -50%);
    -ms-transform: scale(1) translate(0, -50%);
    transform: scale(1) translate(0, -50%);
}

.menu__icon.active span {
    -webkit-transform: scale(0) translate(0, -50%);
    -ms-transform: scale(0) translate(0, -50%);
    transform: scale(0) translate(0, -50%);
}

.menu__icon.active::before {
    top: 50%;
    left: 12px;
    width: 80%;
    -webkit-transform: rotate(-45deg) translate(0, -90%);
    -ms-transform: rotate(-45deg) translate(0, -90%);
    transform: rotate(-45deg) translate(0, -90%);
}

.menu__icon.active::after {
    bottom: 50%;
    left: 12px;
    width: 80%;
    -webkit-transform: rotate(45deg) translate(0, 50%);
    -ms-transform: rotate(45deg) translate(0, 50%);
    transform: rotate(45deg) translate(0, 50%);
}

.menu__wrapper {
    display: none;
    position: fixed;
    top: var(--header-height);
    right: 0;
    background: rgba(255, 255, 255, 0.92);
    backdrop-filter: blur(2px);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
    z-index: 99999;
    overflow: auto;
}

.menu__wrapper.active {
    display: block;
    width: 100%;
    height: calc(100vh - var(--header-height));
    padding: 24px var(--container-space);
    display: flex;
    flex-direction: column;
    animation: menuFadeInMob 0.4s ease-in-out;
}

.menu__summary {
    font-size: 12px;
    color: var(--color-second-text) !important;
    font-weight: 600;
    display: flex;
    padding: 12px 17px 12px 12px;
    cursor: pointer;
    transition: all 0.3s;
}
.menu__item {
    font-family: 'Bruno Ace SC', sans-serif;
    color: var(--color-title);
    font-size: 1.1rem;
    padding: 24px 0;
    letter-spacing: 0.12rem;
    text-transform: uppercase;
}
.menu__item:not(:last-child) { 
    border-bottom: 1px solid #c7bcbc;
}
.dropdown__block {
    opacity: 0;
    width: 0;
    height: 0;
    display: none;
}

.dropdown__block.active {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    opacity: 1;
    height: auto;
    width: auto;
    padding: 0.7rem 0.5rem 0.5rem 1rem;
}
.submenu__item a {
    display: flex;
    height: 100%;
    align-items: center;
    color: var(--color-text);
    text-transform: none;
    letter-spacing: 0.05rem;
    font-weight: 500;
    font-size: 1.15rem;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.dropdown__summary {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 0.4rem;
}
.dropdown__summary svg path{
    stroke: var(--color-title)
}
 
.dropdown__summary:after {
    content: url(../assets/icons/menu-mob-arrow.svg);
    margin-top: 1px;
}

.main-banner__img img {
    position: relative;
    display: block;
}

.main-banner__desc {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.main-banner__desc img::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 614px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.21) 0%, rgba(0, 0, 0, 0.00) 100%);
    background-color: black;
    backdrop-filter: blur(1px);
}
.header__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
}
.main-banner__socials {
    width: fit-content;
    display: flex;
    flex-direction: column;
  align-items: center;
    gap: 16px;
}
.main-banner__social {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    cursor: pointer;
    height: 30px;
    transition: 0.3s;
}
.main-banner__social:hover svg path{
fill-opacity: 1;
}
.main-banner__social svg{
    width: 70%;
}
.dropdown .dropdown__summary svg {
    transition: all 0.3s;
}
.dropdown.opened .dropdown__summary svg {
    transform: rotate(180deg);
}
.dropdown__summary a {
    font-size: 0.9rem;
}
.main-banner__line {
    width: 1px;
    height: 100%;
    background: var(--color-white);
    opacity: 0.7;
}
.main-banner__left {
    display: none;
    }
.main-banner__bottom {
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 2;
}
.main-banner__bottom-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
}
.main-banner__icon svg {
    height: 16px;
}
.main-banner__bottom p{
    font-family: 'Roboto', sans-serif;
    color: var(--color-white);
    font-size: 0.714rem;
    font-weight: 500;
    letter-spacing: 0.129rem;
    text-transform: uppercase;
}
.main-banner__icon {
    display: flex;
    justify-content: center;
    animation: arrowDown 2s infinite;
}
.main-banner__content {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.main-banner__content {
    color: var(--color-white);
}

.main-banner__content h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.2;
    letter-spacing: 0.02rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.main-banner__content p {
    margin-bottom: 2.5rem;
    font-size: 1rem;
}

.main__btn {
    display: block;
    /* width: 100%; */
    border: 1px solid #fff;
    color: #fff;
    background: transparent; 
    position: relative;
    overflow: hidden;
}

.main__btn::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 100%;
    width: 100%;
    height: 100%;
    transition: all 0.4s;
}
.main__btn:hover::before {
    transform: scaleX(1);
}
.main__btn:hover:before {
   background: rgba(255, 255, 255, 0.2);
}

.form {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
}

.form__input input,
.form__input textarea {
    width: 100%;
    padding: 1rem 1rem 1.125rem 1rem;
    background: #fff;
    border: 1px solid rgba(146, 154, 159, 0.4);
}

.form__input input {
    font-size: 1rem;
    height: 3.125rem;
}

.form__input input::placeholder,
.form__input textarea::placeholder {
    font-size: 1rem;
    color: var(--color-light-grey);
}
.form__input textarea {
    font-size: 1rem;
    resize: none;
    height: 7.5rem;
    padding: 0.625rem 1rem;
}
.form__checkbox {
    position: relative;
    display: flex;
    align-items: center;
    gap: 12px;
}
input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 18px;
    height: 18px;
    border-radius: 2px;
    margin-left: 2px;
    background: transparent;
    border: 1px solid var(--color-light-grey);
    cursor: pointer;
    transition: all 0.3s;
}
#checkbox.error,
input.error {
    border: 1px solid #EB5050;
}
#checkbox.error {
    background:#eb50504b ;
}
.error-msg {
    margin: 4px 0;
    color: #EB5050;
    font-size: 10px;
    line-height: 1;
}
input[type="checkbox"]:after {
    content: url(../assets/icons/checked.svg);
    display: none;
}

input[type="checkbox"]:hover {
    background-color: transparent;
    border: 1px solid var(--color-primary);
}

input[type="checkbox"]:checked {
    background-color: var(--color-light-grey);
    border: 1px solid var(--color-light-grey);
}

input[type="checkbox"]:checked:after {
    display: block;
}
.form__bottom {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.form__btn {
    width: 100%;
    height: 3.125rem;
    background-color: #ffbf00ad;
    color: var(--color-title);
    font-size: 1rem;
    font-weight: 600;
    margin-top: auto;
    padding: 0.5rem 2rem;
    line-height: 1;
    margin-left: auto;
    display: flex;
    gap: 0.625rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    box-shadow: 2px 6px 8px 0 rgba(0, 0, 0, 0.04);
    transition: all 0.3s;
}
.form__btn:after {
    content: url(../assets/icons/project-arrow.svg);
    display: block;
    height: fit-content;
    position: relative;
    left: 0;
    top: 1px;
    transition: all 0.3s;
}
.form__btn:hover {
    box-shadow: 4px 6px 10px 0 rgba(0, 0, 0, 0.1);
}
.form__btn:hover:after {
     left: 2px;
 }
.footer {
    background: rgb(232, 232, 232);
    padding-bottom: var(--section-bottom-space);
    position: relative;
    z-index: 2;
    padding-top: var(--section-bottom-space);
    position: relative;
}
.footer__container {
   display: grid;
   grid-template-columns: auto auto;
   grid-template-areas:  'logo logo'
                         'services services'
                         'manufacturers projects'
                         'contacts locations';
   gap: 32px;
   
}

.footer__services {
    grid-area: services;
}

.footer__manufacturers {
    grid-area: manufacturers;
}
.footer__projects {
    grid-area: projects;
}
.footer__contacts {
    grid-area: contacts;
}
.footer__locations {
    grid-area: locations;
}

.footer__logo {
    grid-area: logo;
    text-align: center;
    margin-bottom: 24px;
}
.footer a {
    display: inline-block;
    width: fit-content;
}
.footer__column {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.footer__column h4 {
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 4px;
}
.footer__contact:not(:last-child),
.footer__block:not(:last-child)
 {
       margin-bottom: 10px;     
}

.footer__contact a {
    font-weight: 600;
    margin-bottom: 2px;
}
.footer__projects a {
    font-weight: 600;
}
.footer__location {
    display: flex;
    gap: 10px;
    align-items: start;
}
.footer__location img{
    display: block;
    margin-top: 4px;
}
.footer__adress {
    margin-bottom: 24px;
}
.footer__socials {
    display: flex;
    gap: 24px;
    align-items: center;
}

    .card__btn {
        font-size: 0.8rem;
        font-weight: 600;
        margin-top: auto;
        line-height: 1;
        margin-left: auto;
        display: flex;
        gap: 10px;
        align-items: center;
        transition: all 0.3s;
    }

    .card__btn:after {
        content: url(../assets/icons/project-arrow.svg);
        display: block;
        height: fit-content;
        position: relative;
        left: 0;
        top: 1px;
        transition: all 0.3s;
    }

    .card:hover .card__btn:after {
        left: 4px;
    }
@media screen and (min-width: 560px) {
    .main-banner__desc {
        width: calc(100% - var(--container-space) - 52px);
    }

    .main__btn {
        width: fit-content;
    }
}
@media screen and (min-width: 600px) {
    .footer__container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 'logo logo logo'
                'services services manufacturers'
                ' projects contacts locations';
    }
}
@media screen and (min-width: 768px) {
    .header__container {
        gap: 32px;
    }
    .header__logo {
        max-width: 120px;
    }
    .header__btn {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        order: 2;
        margin-left: auto;
    }
    .dropdown__summary a {
        color: var(--color-white);
    }
    .form {
        grid-template-columns: 1fr 1fr;
    }
    .span-2 {
        grid-column: span 2;
    }
     .form__bottom {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        gap: 24px;
    }
    .form__btn {
        width: fit-content;
        margin-left: unset;
    }
    .footer__container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: 'logo logo logo logo'
                'services services manufacturers projects'
                'contacts  contacts locations locations';
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .main-banner {
        height: 76vh;
    }
}
@media screen and (min-width: 1024px) {
    .opacity-animate {
            opacity: 0;
        }
    .header {
        position: fixed;
        padding: 16px 0;
    }
    .header__menu,
    .menu__wrapper,
    .menu__nav,
    .menu__list,
    .menu__item {
        height: 100%;
    }

    .header__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header__btn {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-left: unset;
        order: 3;
        height: 100%;
    }

    .header__btn:hover .header__icon {
        animation: rotatePhone 0.6s ease-out;
    }
    .menu__item a {
        display: inline-block;
    }
    .menu__icon {
        display: none;
    }
    .dropdown {
        position: relative;
    }
    .dropdown__block {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 998;
        animation: fideInBlock 0.3s ease-in-out;
    }
    .dropdown__summary svg path{
        stroke: var(--color-white)
    }
    .dropdown__block.active {
        display: flex;
        opacity: 1;
        flex-direction: column;
        gap: 0.5rem;
        width: fit-content;
        height: auto;
        background: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(7px);
        padding: 1.5rem;
        top: 2.5rem;
        min-width: 20rem;
    }
   .header__scroll .dropdown__block.active {
        background: rgba(255, 255, 255, 0.95);
        box-shadow: 4px 6px 10px 4px rgba(0, 0, 0, 0.06);
         }
    .dropdown__summary a {
        color: var(--color-white);
    }
    
    .submenu__item {
        position: relative;
    }
    .submenu__item a {
        font-size: 0.88rem;
    }
    .submenu__item a:before {
        content: "";
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        display: block;
        background-color: var(--color-primary);
        width: 2px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
    }
    .submenu__item:hover a {
        margin-left: 0.8rem;
    }
    .submenu__item:hover a:before {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
    .menu__wrapper {
        display: block;
        width: auto;
        position: static;
        backdrop-filter: unset;
        background: unset;
        padding: 0;
        overflow: unset;
    }
    .menu__list {
        display: flex;
        width: auto;
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }
    .menu__item {
        color: var(--color-white);
        font-size: 0.85rem;
        letter-spacing: 0.12rem;
        border-bottom: unset !important;
        padding: 0;
        display: flex;
        align-items: center;
    }
    .menu__item > a:after,
    .footer a:not(.footer__social):after {
        content: "";
        -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
        transform: scaleX(0);
        display: block;
        background-color: var(--color-primary);
        width: 100%;
        height: 1px;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
    }

    .menu__item a:hover:after,
    .footer a:not(.footer__social):hover:after {
        -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
        transform: scaleX(1);
    }
    .main-banner__left {
        display: block;
        position: absolute;
        bottom: 0;
        padding: 24px 0;
        left: var(--container-space);
        width: 24px;
        height: calc(100% - var(--header-height));
        z-index: 2;
    }
    .main-banner__left-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        gap: 40px;
    }
    .main-banner__slogan {
        width: fit-content;
        font-family: 'Roboto', sans-serif;
        writing-mode: vertical-lr;
        transform: rotate(-180deg);
        color: var(--color-white);
        font-size: 0.5625rem;
        font-weight: 500;
        letter-spacing: 6px;
        text-transform: uppercase;
        margin:  0 auto;
        flex: 0 0 fit-content;
    }
    .header__menu {
        order: 2;
    }
    .main-banner__img {
        width: 70%;
    }
    .main-banner__content {
       padding: 0 3rem 0 6rem;
        margin-left: 2rem;
    }
    .main-banner__content h2{
    font-size: 2.2rem;
    margin-bottom: 1rem;
    }
    .main-banner__content p {
        width: 80%;
    }
    .elevator-page .main-banner__content p {
           width: 57%;
       }

    .footer__container {
        grid-template-columns: 1fr auto auto auto auto;
        grid-template-areas: 'logo services projects contacts locations'
        'logo services manufacturers contacts locations'    
    }
  
    .footer__logo {
        text-align: left;
    }
    .footer::before {
        content: '';
        position: absolute;
        top: 0;
        left: var(--container-space);
        display: block;
        width: calc(100% - var(--container-space) * 2);
        height: 1px;
        background:#c8c8c8;
    }
         /* полоса прокрутки (скроллбар) */
         ::-webkit-scrollbar {
             width: 3px;
         }
    
         ::-webkit-scrollbar-button {
             display: none;
         }
    
         ::-webkit-scrollbar-track {
             background-color: #E4E8EB;
         }
    
         ::-webkit-scrollbar-track-piece {
             background-color: #E4E8EB;
         }
    
         ::-webkit-scrollbar-thumb {
             height: 20px;
             background-color: var(--color-light-grey);
             border-radius: 1px;
         }
    
         ::-webkit-scrollbar-corner {
             background-color: #E4E8EB;
         }
    
         ::-webkit-resizer {
             background-color: var(--color-light-grey);
         }
}
@media screen and (min-width: 1280px) {
    .menu__list {
        gap: 30px;
    }
}
@media screen and (min-width: 1440px) {
    .header__logo {
        max-width: 123px;
    }
    .header__icon {
        width: 19px;
    }
    .main-banner__social svg {
        width: 100%;
    }
    .main-banner__slogan {
        font-size: 0.625rem;
    }
    .main-banner__content h2{
        font-size: 2.4rem;
    }
    .main-banner__content p {
        width: 70%;
        margin-bottom: 3.4rem;
        font-size: 1rem;
    }
    .elevator-page .main-banner__content p {
           width: 50%;
       }
    .main-banner__bottom-container {
        gap: 16px;
    }
    .form {
        gap: 0.66rem;
    }
    .form__input input {
        height: 3.3rem;
        padding: 1rem 1rem 1.25rem 1rem;
    }
    .form__bottom {
        margin-top: 1rem;
    }

     .footer__container {
        grid-template-columns: 0.7fr auto auto auto auto  auto;
    }
    .error-msg {
        font-size: 12px;
    }
    
}
@media screen and (min-width: 1600px) {
    .menu__item {
        font-size: 0.9rem;
    }
    .main-banner__content h2 {
            font-size: 3rem;
            margin-bottom: 1.8rem;
        }
    .main-banner__content p {
        margin-bottom: 4rem;
    }
    .main-banner__slogan {
        font-size: 0.75rem;
    }
    .main-banner__left {
        padding: 46px 0;
    }
    .main-banner__bottom {
        bottom: 46px;
    }
}
@media screen and (min-width: 1800px) {
 
    .main__btn {
        padding: 1.2rem 2.5rem;
        font-size: 1.1rem;
    }
    .main-banner__socials {
        gap: 24px;
    }
    .main-banner__content p {
        font-size: 1.1rem;
    }
}

@media screen and (max-height: 520px) {
    .main-banner__slogan {
        display: none;
    }
}
@media screen and (max-height: 680px) {
    .main-banner__line {
        display: none;
    }
}

@keyframes arrowDown {
    0% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(10px);
    }

    70% {
        transform: translateY(0);
    }
}

@keyframes rotatePhone {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-15deg);
    }
    75% {
            transform: rotate(15deg);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes fideInBlock {
    0% {
        opacity: 0;
    }
     100% {
        opacity: 1;
    }
}
  /*******MARQUEE*********/
  .marquee {
    width: 100%;
    display: flex;
    white-space: nowrap;
    width: var(--block-width);
    animation: moveLeft 50s linear infinite;
  }

  .marquee .companies__row {
      width: calc(var(--block-width) / 2);
  }

  @keyframes moveLeft {
      0% {
          transform: translateX(0);
      }

      100% {
          transform: translateX(calc(-1 * var(--block-width) / 2));
      }
  }
@media screen and (min-width: 1024px) {
    .marquee {
    width: 100%;
    display: block;
    animation: unset;
  }
}


  /*******MARQUEE END*********/

