.header {
    position: fixed;
    height: var(--header-height);
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 12px 0;
    z-index: 9999;
}
.main-banner {
    height: 100vh;
    position: relative;

}
.main-banner__slider {
    height: 100%;
}
.main-banner__slide {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.header__btn {
    display: none;
}
.header__menu {
    order: 3;
}

/* .header__scroll {
    background: rgba(88, 82, 82, 0.35);
    backdrop-filter: blur(5px);
} */

.header__logo {
    max-width: 90px;
    order: 1;
}

.menu__icon {
    width: 24px;
    height: 14px;
    cursor: pointer;
    position: relative;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.menu__icon span,
.menu__icon::after,
.menu__icon::before {
    background-color: var(--color-white);
    position: absolute;
    left: 0;
    height: 2px;
    width: 24px;
    border-radius: 1px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.menu__icon::after,
.menu__icon::before {
    content: "";
}

.menu__icon::before {
    top: 0;
}

.menu__icon::after {
    bottom: 0;
}

.menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0, -50%);
    -ms-transform: scale(1) translate(0, -50%);
    transform: scale(1) translate(0, -50%);
}

.menu__icon.active span {
    -webkit-transform: scale(0) translate(0, -50%);
    -ms-transform: scale(0) translate(0, -50%);
    transform: scale(0) translate(0, -50%);
}

.menu__icon.active::before {
    top: 50%;
    left: 12px;
    width: 19px;
    -webkit-transform: rotate(-45deg) translate(0, -76%);
    -ms-transform: rotate(-45deg) translate(0, -76%);
    transform: rotate(-45deg) translate(0, -76%);
}

.menu__icon.active::after {
    bottom: 50%;
    left: 12px;
    width: 19px;
    -webkit-transform: rotate(45deg) translate(0, 50%);
    -ms-transform: rotate(45deg) translate(0, 50%);
    transform: rotate(45deg) translate(0, 50%);
}

.menu__wrapper {
    display: none;
    position: fixed;
    top: var(--header-height);
    right: 0;
    background: rgba(255, 255, 255, 0.88);
    backdrop-filter: blur(2px);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
    z-index: 99999;
    overflow: auto;
}

.menu__wrapper.active {
    display: block;
    width: 100%;
    height: calc(100% - var(--header-height));
    padding: 24px var(--container-space);
    display: flex;
    flex-direction: column;
    animation: menuFadeInMob 0.4s ease-in-out;
}

.menu__summary {
    font-size: 12px;
    color: var(--color-second-text) !important;
    font-weight: 600;
    display: flex;
    padding: 12px 17px 12px 12px;
    cursor: pointer;
    transition: all 0.3s;
}
.menu__item {
    font-family: 'Roboto', sans-serif;
    color: var(--color-title);
    font-size: 1.1rem;
    padding: 24px 0;
    letter-spacing: 3.2px;
    text-transform: uppercase;
}
.menu__item:not(:last-child) { 
    border-bottom: 1px solid #c7bcbc;
}
.dropdown__block {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 998;
}

.dropdown__block.active {
    display: block;
    opacity: 1;
    width: 100%;
    height: calc(100vh - 60px);
    background: #fff;
}

.dropdown__summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 
.dropdown__summary:after {
    content: url(../assets/icons/menu-mob-arrow.svg);
    margin-top: 1px;
}

.main-banner__img img {
    position: relative;
    display: block;
}

.main-banner__desc {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.main-banner__desc img::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 614px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.21) 0%, rgba(0, 0, 0, 0.00) 100%);
    background-color: black;
    backdrop-filter: blur(1px);
}
.header__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
}
.main-banner__socials {
    width: fit-content;
    display: flex;
    flex-direction: column;
  align-items: center;
    gap: 16px;
}
.main-banner__social {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    cursor: pointer;
    height: 30px;
    transition: 0.3s;
}
.main-banner__social:hover svg path{
fill-opacity: 1;
}
.main-banner__social svg{
    width: 70%;
}
.dropdown__summary a,
.dropdown__block a {
    font-family: 'Roboto', sans-serif;
    color: var(--color-white);
    font-size: 1rem;
}
.main-banner__line {
    width: 1px;
    height: 100%;
    background: var(--color-white);
    opacity: 0.7;
}
.main-banner__left {
    display: none;
    }
.main-banner__bottom {
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 2;
}
.main-banner__bottom-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
}
.main-banner__icon svg {
    height: 16px;
}
.main-banner__bottom p{
    font-family: 'Roboto', sans-serif;
    color: var(--color-white);
    font-size: 0.714rem;
    font-weight: 500;
    letter-spacing: 0.129rem;
    text-transform: uppercase;
}
.main-banner__icon {
    display: flex;
    justify-content: center;
    animation: arrowDown 2s infinite;
}
.main-banner__content {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.main-banner__content {
    /* font-family: 'Montserrat', 
            sans-serif;*/
    color: var(--color-white);
}
.main-banner__content h2{
    font-family: 'Bruno Ace SC', sans-serif;
    font-size: 2rem;
    line-height: 1.2;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}
.main-banner__content h2 span {
    color: var(--color-primary);
}
.main-banner__content p {
    margin-bottom: 40px;
   font-size: 1rem;
}

.main__btn {
    width: 100%;
    border: 1px solid #fff;
    color: #fff;
    background: transparent; 
    position: relative;
    overflow: hidden;
}

.main__btn::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 100%;
    width: 100%;
    height: 100%;
    transition: all 0.4s;
}
.main__btn:hover::before {
    transform: scaleX(1);
}
.main__btn:hover:before {
   background: rgba(255, 255, 255, 0.2);
}

@media screen and (min-width: 560px) {
    .main-banner__desc {
        width: calc(100% - var(--container-space) - 52px);
    }

    .main__btn {
        width: fit-content;
    }
}
@media screen and (min-width: 768px) {
    .header__container {
        gap: 32px;
    }
    .header__logo {
        max-width: 120px;
    }
    .header__btn {
        display: flex;
        order: 2;
        margin-left: auto;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .main-banner {
        height: 76vh;
    }
}
@media screen and (min-width: 1024px) {
    .header {
        position: fixed;
        padding: 16px 0;
    }
    .header__scroll {
        background: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(7px);
    }
     .header__scroll .menu__item {
        color: var(--color-title);
    }
    .header__scroll .header__phone a {
        color: var(--color-title);
    }
    .header__scroll .header__icon svg path {
        fill: var(--color-text);
        opacity: 0.8;
    }
   .header__scroll  .header__logo svg path:first-child{
fill: var(--color-text);
    }
    .header__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header__btn {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-left: unset;
        order: 3;
    }
    .header__btn:hover .header__icon {
        animation: rotatePhone 0.6s ease-out;
    }
    .menu__icon {
        display: none;
    }
    .menu__wrapper {
        
        display: block;
        width: auto;
        height: auto;
        position: static;
        backdrop-filter: unset;
        background: unset;
        padding: 0;
        overflow: unset;
    }
    .menu__list {
        display: flex;
        width: auto;
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }
    .menu__item {
        color: var(--color-white);
        font-size: 0.889rem;
        letter-spacing: 3.2px;
        border-bottom: unset !important;
        padding: 0;
    }
    .menu__item a:after {
        content: "";
        -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
        transform: scaleX(0);
        display: block;
        background-color: var(--color-primary);
        width: 100%;
        height: 1px;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
    }

    .menu__item a:hover:after {
        -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
        transform: scaleX(1);
    }
    .main-banner__left {
        display: block;
        position: absolute;
        bottom: 0;
        padding: 24px 0;
        left: var(--container-space);
        width: 24px;
        height: calc(100% - var(--header-height));
        z-index: 2;
    }
    .main-banner__left-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        gap: 40px;
    }
    .main-banner__slogan {
        width: fit-content;
        font-family: 'Roboto', sans-serif;
        writing-mode: vertical-lr;
        transform: rotate(-180deg);
        color: var(--color-white);
        font-size: 9px;
        font-weight: 500;
        letter-spacing: 6px;
        text-transform: uppercase;
        margin:  0 auto;
        flex: 0 0 fit-content;
    }
    .header__menu {
        order: 2;
    }
    .main-banner__img {
        width: 70%;
    }
    .main-banner__content {
        padding: 0 3rem 0 6rem;
    }
    .main-banner__content h2{
    font-size: 2.8rem;
    }
    .main-banner__content p {
        width: 80%;
    }
         /* полоса прокрутки (скроллбар) */
         ::-webkit-scrollbar {
             width: 3px;
         }
    
         ::-webkit-scrollbar-button {
             display: none;
         }
    
         ::-webkit-scrollbar-track {
             background-color: #E4E8EB;
         }
    
         ::-webkit-scrollbar-track-piece {
             background-color: #E4E8EB;
         }
    
         ::-webkit-scrollbar-thumb {
             height: 20px;
             background-color: var(--color-light-grey);
             border-radius: 1px;
         }
    
         ::-webkit-scrollbar-corner {
             background-color: #E4E8EB;
         }
    
         ::-webkit-resizer {
             background-color: var(--color-light-grey);
         }
}
@media screen and (min-width: 1280px) {
    .menu__list {
        gap: 30px;
    }


}
@media screen and (min-width: 1440px) {
    .header__logo {
        max-width: 123px;
    }
    .header__icon {
        width: 19px;
    }
    .main-banner__social svg {
        width: 100%;
    }
    .main-banner__slogan {
        font-size: 10px;
    }
    .main-banner__content h2{
    font-size: 3.8rem;
    }
    .main-banner__content p {
        width: 70%;
        font-size: 1.12rem;
    }
    .main-banner__bottom-container {
        gap: 16px;
    }
}

@media screen and (max-height: 520px) {
    .main-banner__slogan {
        display: none;
    }
}
@media screen and (max-height: 680px) {
    .main-banner__line {
        display: none;
    }
}

@keyframes arrowDown {
    0% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(10px);
    }

    70% {
        transform: translateY(0);
    }
}

@keyframes rotatePhone {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-15deg);
    }
    75% {
            transform: rotate(15deg);
    }
    100% {
        transform: translateY(0);
    }

}

